@font-face {
  font-family: Borel;
  src: url("/fonts/Borel/Borel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Quicksand;
  src: url("/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Bree_Serif;
  src: url("/fonts/Bree_Serif/BreeSerif-Regular.ttf") format("truetype");
}

/* Création de classe Tailwind personnalisée */
@utility bg_home {
  background-image: var(--bg_home);
}

@utility bg_home_mobile {
  background-image: var(--bg_home_mobile);
}

@utility bg_about {
  background-image: var(--bg_about);
}

@utility bg_about_mobile {
  background-image: var(--bg_about_mobile);
}

@utility bg_ingredient1 {
  background-image: var(--bg_ingredient1);
}

@utility bg_ingredient2 {
  background-image: var(--bg_ingredient2);
}

@theme {
  /* Font */
  --font-borel: "Borel";
  --font-montserrat: "Montserrat";
  --font-quicksand: "Quicksand";
  --font-bree_Serif: "bree_Serif";

  /* Primary Color */
  --color-primary-50: #f6f9ec;
  --color-primary-100: #eaf1d6;
  --color-primary-200: #d5e3b3;
  --color-primary-300: #b9d185;
  --color-primary-400: #9ebd5e;
  --color-primary-500: #77963c;
  --color-primary-600: #638030;
  --color-primary-700: #4d6328;
  --color-primary-800: #3f4f25;
  --color-primary-900: #364423;
  --color-primary-950: #1b240f;

  /* Secondary color */
  --color-secondary-50: #fdf3f3;
  --color-secondary-100: #fde3e3;
  --color-secondary-200: #fccccc;
  --color-secondary-300: #f8a9a9;
  --color-secondary-400: #f06262;
  --color-secondary-500: #e74c4c;
  --color-secondary-600: #d42e2e;
  --color-secondary-700: #b22323;
  --color-secondary-800: #932121;
  --color-secondary-900: #7b2121;
  --color-secondary-950: #420d0d;

  /* Tertiary color */
  --color-tertiary-50: #f9f6ed;
  --color-tertiary-100: #f2eacf;
  --color-tertiary-200: #e6d5a2;
  --color-tertiary-300: #d7b86d;
  --color-tertiary-400: #ca9d45;
  --color-tertiary-500: #c38f3a;
  --color-tertiary-600: #a06c2e;
  --color-tertiary-700: #815027;
  --color-tertiary-800: #6c4227;
  --color-tertiary-900: #5d3926;
  --color-tertiary-950: #351d13;

  /* Shadow */
  --shadow: 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  /* BackgroundImage */
  /* Pour 'Home' */
  --bg_home: url("/images/background/home/bg_home.webp");
  --bg_home_mobile: url("/images/background/home/bg_home_mobile.webp");

  /* Pour 'About' */
  --bg_about: url("/images/background/about/bg_about.webp");
  --bg_about_mobile: url("/images/background/about/bg_about_mobile.webp");

  /* Pour ingredient */
  --bg_ingredient1: url("/images/background/ingredient/bg_ingredient1.webp");
  --bg_ingredient2: url("/images/background/ingredient/bg_ingredient2.webp");
}
