@font-face {
  font-family: Borel;
  src: url("/fonts/Borel/Borel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Quicksand;
  src: url("/fonts/Quicksand/Quicksand-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: Bree_Serif;
  src: url("/fonts/Bree_Serif/BreeSerif-Regular.ttf") format("truetype");
}

/* Création de classe Tailwind personnalisée */
@utility bg_home {
  @media (min-width: 1025px) {
    background-image: var(--bg_home);
  }
}

@utility bg_home_mobile {
  @media (max-width: 1024px) {
    background-image: var(--bg_home_mobile);
  }
}

@utility bg_about {
  background-image: var(--bg_about);
}

@utility bg_about_tablet {
  background-image: var(--bg_about_tablet);
}

@utility bg_about_mobile {
  background-image: var(--bg_about_mobile);
}

@utility bg_ingredient1 {
  background-image: var(--bg_ingredient1);
}

@utility bg_ingredient2 {
  background-image: var(--bg_ingredient2);
}

@utility bg_notFound {
  @media (min-width: 1025px) {
    background-image: var(--bg_notFound);
  }
}

@utility bg_notFound_tablet {
  @media (min-width: 641px) and (max-width: 1024px) {
    background-image: var(--bg_notFound_tablet);
  }
}

@utility bg_notFound_mobile {
  @media (max-width: 640px) {
    background-image: var(--bg_notFound_mobile);
  }
}

@theme {
  /* Font */
  --font-borel: "Borel";
  --font-montserrat: "Montserrat";
  --font-quicksand: "Quicksand";
  --font-bree_Serif: "bree_Serif";

  /* Primary Color */
  --color-primary-50: #f3f8ed;
  --color-primary-100: #e4f0d7;
  --color-primary-200: #cce2b4;
  --color-primary-300: #abcf87;
  --color-primary-400: #8cba61;
  --color-primary-500: #6e9f43;
  --color-primary-600: #547e32;
  --color-primary-700: #42612a;
  --color-primary-800: #374e26;
  --color-primary-900: #304324;
  --color-primary-950: #17240f;

  /* Secondary color */
  --color-secondary-50: #fdf3f3;
  --color-secondary-100: #fde3e3;
  --color-secondary-200: #fccccc;
  --color-secondary-300: #f8a9a9;
  --color-secondary-400: #f06262;
  --color-secondary-500: #e74c4c;
  --color-secondary-600: #d42e2e;
  --color-secondary-700: #b22323;
  --color-secondary-800: #932121;
  --color-secondary-900: #7b2121;
  --color-secondary-950: #420d0d;

  /* Tertiary color */
  --color-tertiary-50: #f9f6ed;
  --color-tertiary-100: #f2eacf;
  --color-tertiary-200: #e6d5a2;
  --color-tertiary-300: #d7b86d;
  --color-tertiary-400: #ca9d45;
  --color-tertiary-500: #c38f3a;
  --color-tertiary-600: #a06c2e;
  --color-tertiary-700: #815027;
  --color-tertiary-800: #6c4227;
  --color-tertiary-900: #5d3926;
  --color-tertiary-950: #351d13;

  /* Special color */
  --color-special-white: rgba(255, 255, 255, 0.8);
  --color-special-black: rgba(0, 0, 0, 0.3);

  /* Spacing */
  --spacing-2-625: 2.65rem;
  --spacing-3-75: 3.75rem;
  --spacing-4-219: 4.219rem;
  --spacing-5: 5rem;
  --spacing-5-563: 5.563rem;
  --spacing-9: 9rem;
  --spacing-11: 11rem;
  --spacing-11-25: 11.25rem;
  --spacing-17-375: 17.375rem;
  --spacing-17-5: 17.5rem;
  --spacing-22: 22rem;
  --spacing-24: 24rem;
  --spacing-36: 36rem;
  --spacing-45: 45rem;
  --spacing-55: 55rem;

  /* Shadow */
  --shadow: 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  /* BackgroundImage */
  /* Pour 'Home' */
  --bg_home: url("/images/background/home/bg_home.webp");
  --bg_home_mobile: url("/images/background/home/bg_home_mobile.webp");
  /* Pour 'About' */
  --bg_about: url("/images/background/about/bg_about.webp");
  --bg_about_tablet: url("/images/background/about/bg_about_tablet.webp");
  --bg_about_mobile: url("/images/background/about/bg_about_mobile.webp");

  /* Pour ingredient */
  --bg_ingredient1: url("/images/background/ingredient/bg_ingredient1.webp");
  --bg_ingredient2: url("/images/background/ingredient/bg_ingredient2.webp");

  /* Pour la page NotFound */
  --bg_notFound: url("/images/background/notFound/bg_notFound.webp");
  --bg_notFound_tablet: url("/images/background/notFound/bg_notFound_tablet.webp");
  --bg_notFound_mobile: url("/images/background/notFound/bg_notFound_mobile.webp");

  /* Pour les breakpoint */
  /* 400px */
  --breakpoint-xs: 25rem;
  /* 350px */
  --breakpoint-xxs: 21.875rem;
  /* 640px */
  --breakpoint-sm: 40rem;

  /* Pour les animations */
  /* 1.6s => temps que l'on veut que ça dure */
  /* 0.5s => temps d'attente avant que 'animation se fasse */
  --animate-waves: waves 1.6s linear 0.5s infinite;

  @keyframes waves {
    0% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
